# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next/
out/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# Environment variables (KRİTİK: Şifrelerin gitmemeli!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# OS metadata
.DS_Store
Thumbs.db

# Prisma logs and sqlite db (eğer kullanıyorsan)
prisma/*.db
prisma/*.db-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*